.container {
  height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.dark-color {
  color: #ffff;
}
.heading {
  color: #333333;
}

.home-icon {
  width: 150px;
}

.black-bg {
  background-color: #000000;
}